#bookmark-timetable {
	width: 500px;
	position: fixed;
	bottom: 0;
	right: 1rem;
	z-index: 2;
}

#bookmark-timetable .main {
	transition: margin-bottom 0.5s ease;
}

/* header */
#bookmark-timetable header {
	width: 100%;
	line-height: 1.4rem;
	color: #333;
	font-size: 1.4rem;
	margin-bottom: -0.4rem;
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 2px #fff;
	display: flex;
	justify-content: flex-end;
}

#current-status {
	vertical-align: middle;
	display: inline-block;
}

#current-status .credit {
	margin-left: 0.4rem;
	font-size: 0.8rem;
}

#current-status .previous, #current-status .next {
	line-height: 1.4rem;
	color: #ccc;
	text-decoration: none;
	font-size: 1.2rem;
}

#current-status .module {
	width: 4rem;
	text-align: center;
	display: inline-block;
}

#close-bookmark-table {
	color: #666;
	font-size: 1.6rem;
	margin-left: 0.4rem;
	display: block;
}

#close-bookmark-table.closed {
	margin-top: -0.2rem;
}

#bookmark-timetable .tile {
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	background: rgba(255,255,255,0.95);	
}

/* timetable */
#bookmark-timetable .content {
	width: 100%;
	margin-bottom: -1rem;
	display: flex;
}

#bookmark-timetable ul {
	height: calc(100% - 2rem);
	margin: 0;
	padding: 0;
	list-style: none;
}

#bookmark-timetable ul.no {
	width: 0.4rem;
	font-size: 0.8rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-top: 1rem;
	padding: 1.5rem 0.4rem 0.4rem 0.4rem;
	position: relative;
	z-index: 1;
}

#bookmark-timetable ul.no li {
	height: 3.1rem;
	line-height: 3.1rem;
	text-align: center;
	padding-right: 0.4rem;
	list-style: none;
}

#bookmark-timetable div.table-wrapper {
	height: calc(100% - 0.8rem);
}

#bookmark-timetable div.table-wrapper div.display-area {
	width: calc(500px - 0.2rem);
	padding: 1rem 1rem 1rem 0;
	overflow: hidden;
}

#bookmark-timetable ul.table-list {
	width: calc((500px - 1.2rem) * 6);
	height: 100%;
	display: flex;
	transition: margin-left 0.5s ease;
}

#bookmark-timetable li.table {
	width: calc(500px - 1.2rem);
	padding: 0.4rem 0.4rem 0.4rem 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: flex;
	float: left;
	justify-content: space-around;
}

#bookmark-timetable ul.row {
	flex-basis: auto;
	flex: 1;
}

#bookmark-timetable ul.row li {
	height: 2.9rem;
	font-size: 0.8rem;
	padding: 0.1rem;
	overflow: hidden;
	position: relative;
}

#bookmark-timetable ul.row:not(:first-child) li {
	border-left: solid 1px #ddd;
}

#bookmark-timetable ul.row li:first-child {
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	padding: 0rem 0 0.3rem 0;
}

#bookmark-timetable ul.no li,
#bookmark-timetable ul.row li:not(:first-child) {
	border-top: solid 1px #efefef;
}

#bookmark-timetable div.class {
	width: calc(100% - 0.6rem - 0.4rem);
	height: calc(100% - 0.45rem - 0.4rem);
	line-height: 0.8rem;
	font-size: 0.4rem;
	padding: 0.15rem 0.3rem 0.3rem 0.3rem;
	border-radius: 4px;
	overflow: hidden;
	position: absolute;
}

#bookmark-timetable div.class a.remove {
	line-height: 1.5rem;
	color: #fff;
	text-shadow: 0 1px 2px #c00, 0 0 10px  #c00;
	font-size: 1.5rem;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}
#bookmark-timetable div.class a.remove.displayed {
	display: block;
}


/* footer */
#bookmark-timetable footer {
	line-height: 1em;
	font-size: 0.8rem;
	margin: 0.3rem 0 -1rem 0;
	padding: 0.5rem 0.8rem 1.7rem 0.8em;
	position: relative;
	z-index: 1;
}

#bookmark-timetable footer p {
	color: #000;
	margin: 0;
}

#bookmark-timetable footer a {
	color: #63c;
}
#bookmark-timetable footer a#clear-bookmarks {
	color: #c00;
	padding: 0 6rem;
}
#bookmark-timetable footer:hover {
	color: #ccc;
}

/* bookmark information */
#bookmark-info {
	color: #fff;
	font-size: 0.8rem;
	margin-top: -0.4rem;
	padding: 0.4rem 0.6rem;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.6);
	opacity: 0;
	position: fixed;
	top: 2rem;
	left: 2rem;
	transition: opacity 0.3s linear;
}

#bookmark-info:before {
	content: "";
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent rgba(0,0,0,0.4) transparent transparent;
	position: absolute;
	left: -8px;
}

#bookmark-info h4, #bookmark-info p {
	margin: 0;
}