html, body {
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	top: 0;
	background: linear-gradient(90deg, rgba(242,230,255,0.95), rgba(255,255,255,0.95) 250px);
}

form * {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

header form {
	position: sticky;
	top: 0;
}

header p {
	line-height: 1.8rem;
	margin:0;
}

p#requirement {
	margin-top: 0.4rem;
}

header div.content {
	width: 1100px;
	margin: auto;
	padding: 0.6rem 1rem;
}

header .h4 {
	width: 6rem;
	text-align: justify;
	margin-right: 1.4rem;
	display: inline-block;
}

header input[type="text"], header select {
	height: 1.8rem;
	line-height: 1.8rem;
	padding:0 0.4rem;
	border: none;
	border-radius: 4px;
	box-sizing: content-box;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	vertical-align: top;
	-webkit-appearance: none;
}

#selected-periods {
	width: 22.8rem;
	line-height: 1em;
	font-size: 0.9rem;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

#selected-periods .day-label + .day-label, #display-timetable-sp .day-label + .day-label {
	margin-left: 0.4rem;
}

#selected-periods .day, #display-timetable-sp .day {
	color: #63c;
	line-height: 1em;
	margin-right: 0.1rem;
	border-bottom: solid 1px #63c;
}

header input[type="text"] {
	width: 22rem;
}

header select.requirement {
	width: calc((22.8rem - 0.4rem * 6 - 0.5rem * 2)/ 3);
}

header select.requirement + select.requirement {
	margin-left: 0.5rem;
}

#period-sp {
	line-height: 1.8rem;
	margin-top: 0.4rem;
	display: none;
}

#period-sp .module {
	height: 1.8rem;
	line-height: 1.8rem;
}

#select-module {
	margin-right: 0.4rem;
}

#display-timetable-sp {
	width: 12.9rem;
	margin-left: 0.5rem;
	vertical-align: top;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

header .button {
	width: 8rem;
	height: 1rem;
	line-height:1rem;
	text-align: center;
	text-decoration: none;
	padding:0.45rem 0.4rem;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	display: inline-block;
}

header .button.right {
	margin-left: 0.5rem;
}

#submit {
	margin-right: 1rem;
}

#submit, #submit-sp {
	color: #fff;
	background: #60c;
}

#clear-sp {
	margin: 0 0.2rem 0 4.8rem;
}

header .button.sub {
	color: #60c;
	background: linear-gradient(30deg, #f2e6ff, #fff);
}

#clear-sp, #submit-sp {
	display: none;
}


/* timetable */
#timetable
{
	padding: 0 0.5rem 0.4rem 0.6rem;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	background: rgba(255,255,255,0.9);
	overflow: hidden;
	opacity: 0;
	display: none;
	position: fixed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: opacity 0.2s linear;
}

#timetable div.line {
	height: 1.5rem;
	line-height: 1.5rem;
}

#timetable div.item {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

#timetable div.line div:first-child {
	width: 0.6rem;
	margin-right: 0.2rem;
}

#timetable div.line div.day {
	width: 1.5rem;
}

#timetable div.period {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0.15rem;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	transition: background 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
	background: #fff;
	cursor: pointer;
}

#timetable div.period.selected {
	margin: 0.2rem 0.15rem 0.15rem 0.15rem;
	box-shadow: none;
	background: #63c;
}

#timetable p {
	text-align: center;
}

#timetable p.manual {
	line-height: 1em;
	margin: 0.5rem 0 0.2rem 0;
	font-size: 0.6rem;
}

#timetable p.special {
	margin: 0;
}


#page {
	width: 1100px;
	margin: 0.5rem auto 0 auto;
	padding: 0 1rem;
}

table#body {
	width: 100%;
	font-size: 0.9rem;
	border-spacing: 0;
	table-layout: fixed;
	overflow-x: scroll;
	border-collapse: collapse;
}

table#body tr th {
	color: #fff;
	text-align: left;
	font-weight: normal;
	padding: 0.2rem 0;
	background: #60c;
}

table#body tr th:first-child {
	padding-left: 0.4rem;
}

table#body td {
	line-height: 1.4em;
	padding: 0.2rem 0;
	border-bottom: solid 1px #ccc;
	vertical-align: top;
}

table#body td a.syllabus {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 0.8rem;
	margin: 0.2rem 0;
	padding: 0.1rem 0.3rem;
	color: #63c;
	border-radius: 1rem;
	background: linear-gradient(30deg, #f2e6ff, #fff);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	display: inline-block;
}

table#body td a.syllabus:hover {
	color: #fff;
	background: #63c;
}

table#body td {
	padding-right: 0.4rem;
}

table#body tr *:nth-child(1) { width: 14rem; }
table#body tr *:nth-child(2) { width: 5rem; }
table#body tr *:nth-child(3) { width: 5rem; }
table#body tr *:nth-child(4) { width: 6rem; }
table#body tr *:nth-child(5) { width: 6rem; }
table#body tr *:nth-child(6) { width: 6rem; }

table#body tr td:nth-child(7) {
	width:18rem;
	line-height: 1.3em;
	font-size: 0.6rem;
}

table#body tr td:nth-child(8) {
	line-height: 1.3em;
	font-size: 0.6rem;
}

footer {
	line-height: 1.8rem;
	text-align: center;
	margin: 1rem 0 2rem 0;
}

form {
	position: sticky;
	top: 0;
}


/* media query */
@media screen and (max-width: 1100px) {
	header .h4 {
		display: none;
	}
	#clear, #submit {
		display: none;
	}
	#clear-sp, #submit-sp {
		display: inline-block;
	}
	#keyword-options {
		display: block;
	}
	header #period {
		display: none;
	}
	header #period-sp {
		display: block;
	}
}

/* Bookmark checkbox */
input[type="checkbox"].bookmark  {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 1.7em;
	width: 1.7em !important;
	height: 1.7em;
	background: transparent;
	border-style: none;
	border-color: transparent;
	text-align: left;
	color: #aaa;
	font-weight: bold;
	position: relative;
	vertical-align: middle;
	margin-bottom: 0.2em;
}

input[type="checkbox"].bookmark:before {
	content: "★";
	font-size: 1.7em;
}

input[type="checkbox"].bookmark:checked {
	color: #60c;
}