html, body {
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	position:fixed;
	top: 0;
	background: linear-gradient(90deg, rgba(242,230,255,0.95), rgba(255,255,255,0.95) 250px);
}
form * {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 1rem;
}

header form {
	position: sticky;
	top: 0;
}

header p {
	line-height: 1.8rem;
	margin:0;
}
p#requirement {
	margin-top: 0.4rem;
}

header div.content {
	width: 1100px;
	margin: auto;
	padding: 0.6rem 1rem;
}

header .h4 {
	width: 6rem;
	text-align: justify;
	margin-right: 1.4rem;
	display: inline-block;
}

header input[type="text"], header select {
	height: 1.8rem;
	line-height: 1.8rem;
	margin-right: 0.2rem;
	padding:0 0.4rem;
	border: none;
	border-radius: 4px;
	box-sizing: content-box;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	vertical-align: top;
	-webkit-appearance: none;
}

header input[type="text"] {
	width: 22rem;
}
header select.requirement {
	width: calc((22rem - 0.4rem * 6)/ 3);
}

header #period-sp {
	line-height: 1.8rem;
	margin-top: 0.4rem;
	display: none;
}

header .button {
	width: 8rem;
	height: 1rem;
	line-height:1rem;
	text-align: center;
	text-decoration: none;
	padding:0.45rem 0.4rem;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	display: inline-block;
}
#submit {
	margin-right: 1rem;
}
#submit, #submit-sp {
	color: #fff;
	background: #60c;
}
#clear-sp {
	margin: 0 0.2rem 0 4.5rem;
}
#clear, #clear-sp {
	color: #60c;
	background: linear-gradient(30deg, #f2e6ff, #fff);
}
#clear-sp, #submit-sp {
	display: none;
}

#page {
	width: 1100px;
	margin: 13.5rem auto 0 auto;
	padding: 0 1rem;
}

main {
	padding-top: 0.9em;
}

table {
	width: 100%;
	font-size: 0.9rem;
	border-spacing: 0;
	table-layout: fixed;
	overflow-x: scroll;
	border-collapse: collapse;
}

tr th {
	color: #fff;
	text-align: left;
	font-weight: normal;
	padding: 0.2rem 0;
	background: #60c;
}
tr th:first-child {
	padding-left: 0.4rem;
}

td {
	line-height: 1.4em;
	padding: 0.2rem 0;
	border-bottom: solid 1px #ccc;
	vertical-align: top;
}

td a.syllabus {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 0.8rem;
	margin: 0.2rem 0;
	padding: 0.1rem 0.3rem;
	color: #63c;
	border-radius: 1rem;
	background: linear-gradient(30deg, #f2e6ff, #fff);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	display: inline-block;
}

td a.syllabus:hover {
	color: #fff;
	background: #63c;
}

td {
	padding-right: 0.4rem;
}

tr *:nth-child(1) { width: 14rem; }
tr *:nth-child(2) { width: 5rem; }
tr *:nth-child(3) { width: 5rem; }
tr *:nth-child(4) { width: 6rem; }
tr *:nth-child(5) { width: 6rem; }
tr *:nth-child(6) { width: 6rem; }
tr td:nth-child(7) {
	width:18rem;
	line-height: 1.3em;
	font-size: 0.6rem;
}
tr td:nth-child(8) {
	line-height: 1.3em;
	font-size: 0.6rem;
}

footer {
	line-height: 1.8rem;
	text-align: center;
	margin: 1rem 0 2rem 0;
}

form {
	position: sticky;
	top: 0;
}


/* media query */
@media screen and (max-width: 1100px) {
	header .h4 {
		display: none;
	}
	#clear, #submit {
		display: none;
	}
	#clear-sp, #submit-sp {
		display: inline-block;
	}
	#keyword-options {
		display: block;
	}
	header #period {
		display: none;
	}
	header #period-sp {
		display: block;
	}
}
