html {
    margin: 0;
    padding: 0;
}

header {
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 2;
}

header .top {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

header .top li + li {
    margin-left: 1rem;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

div#information {
    margin: 0 1rem;
}

div#information h2 {
    margin: 0;
}

main {
    width: 100%;
}

main a {
    color: #000;
    text-decoration: none;
    display: block;
}

main div.item {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

main a {
    border-bottom: solid 1px #ccc;
    position: relative;
}

main a:hover {
    box-shadow: 0 2px 4px #ccc;
    z-index: 1;
}

main div.body, main ul.diff {
    flex-basis: 50%;
    word-break: break-word;
}

main ul.diff, main ul.diff ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main ul.diff > li + li {
    margin-top: 0.4rem;
}

span.empty {
    color: gray;
}
span.removed {
    padding: 0.2rem;
    background-color: tomato;
}
span.added {
    padding: 0.2rem;
    background-color: limegreen;
}